.startPage {
    width: 1000px;
    height: 650px;
    border: 1px solid black;
    background-image: url(img/main.png);
    background-repeat: no-repeat;
    align-content: center;
}

.startPage_menu {
    text-align: center;
    margin: 350px;
}

.game-container {
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.world {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.sky {
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightblue;
}

.sun {
    position: absolute;
    top: 50px;
    right: 150px;
    background: center / contain no-repeat url("img/sun.png");
    width: 120px;
    height: 120px;
    z-index: 2;
    animation: rotation 30s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.cloud {
    position: absolute;
    top: 50px;
    right: 350px;
    background: center / contain no-repeat url("img/cloud.png");
    width: 120px;
    height: 120px;
    z-index: 2;
    animation: floating 100s infinite linear;
}

@keyframes floating {
    0% {
        transform: translateX(350px);
    }
    100% {
        transform: translateX(-1300px);
    }
}

.cloud2 {
    position: absolute;
    top: 100px;
    left: 350px;
    background: center / contain no-repeat url("img/cloud.png");
    width: 120px;
    height: 120px;
    z-index: 2;
    animation: floating 100s infinite linear;
}

.cloud3 {
    position: absolute;
    top: 75px;
    right: 450px;
    background: center / contain no-repeat url("img/cloud.png");
    width: 120px;
    height: 120px;
    z-index: 2;
    animation: floating 100s infinite linear;
}

.ground {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: green;
    bottom: 0;
}

.superDog {
    width: 256px;
    height: 160px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: center / contain no-repeat url("img/superdog2.png");
    z-index: 1;
}

.falling-cat {
    background: center / contain no-repeat url("img/cat.png");
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

@keyframes falling {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0px);
    }
}

.heart {
    background-image: url('./img/PikPng.com_instagram-png_3065627.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 60px;
    background-size: contain;
    z-index: 10000000;
    position: absolute;
    top: 0;
}

.score {
    position: absolute;
    right: 10px;
    top: 10px;
}

.lifetime {
    width: 200px;
    height: 70px;
    position: relative;
    right: 0;
    position: absolute;
}