* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
}

.startPage {
    margin: 60px auto;
    width: 1200px;
    height: 800px;
    background-image: url(img/titlepage.png);
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    overflow: hidden;
}

.startPage_menu {
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.button {
    border: none;
    border-radius: 10px;
    width: 240px;
    height: 70px;
    background-color: rgba(255, 166, 0, 0.747);
    box-shadow: 0px 4px 6px rgba(255, 166, 0, 0.452), -5px 4px 6px rgba(255, 166, 0, 0.452), 5px 4px 6px rgba(255, 166, 0, 0.452);
    font-size: 25px;
    text-transform: uppercase;
    margin: 15px;
    cursor: pointer;
}

.menu_top {
    margin: 110px 30px 0;
}

.menu_top .button {
    margin-right: 30px;
}

#start_btn {
    margin-bottom: 100px;
    margin-right: 100px;
    align-self: center;
    animation: flashing 3s linear infinite;
}

@keyframes flashing {
    0% {
        background-color: rgba(255, 166, 0, 0.747);
    }
    50% {
        background-color: rgb(255, 138, 51);
    }
    100% {
        background-color: rgba(255, 166, 0, 0.747);
    }
}

.onclick {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: none;
}

.container {
    width: 600px;
    height: 850px;
    border: 2px solid black;
    margin: 50px auto;
    background-color: white;
}

.ranking .container {
    background-image: url(img/ranking.png);
    background-size: cover;
}

.instruction .container {
    background-image: url(img/instrukcja.png);
    background-size: cover;
}

.instruction-content {
    height: 850px;
    margin: 80px 130px 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 22px;
}

.description {
    text-align: center;
}

.description span {
    font-weight: 700;
}


.game-container {
    margin: 20px auto;
    max-width: 1500px;
    width: 100%;
    max-height: 1000px;
    height: 100%;
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.world {
    width: 1200px;
    height: 800px;
    position: relative;
    display: flex;
    overflow: hidden;
    border: 5px solid black;
}

.sky {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/world-background.png);
}

.sun {
    position: absolute;
    top: 50px;
    right: 150px;
    background: center / contain no-repeat url("img/sun.png");
    width: 120px;
    height: 120px;
    z-index: 2;
    animation: rotation 30s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.cloud {
    position: absolute;
    top: 50px;
    right: -50px;
    background: center / contain no-repeat url("img/cloud.png");
    width: 120px;
    height: 120px;
    z-index: 4;
    animation: floating 60s infinite linear;
}

@keyframes floating {
    100% {
        transform: translateX(-1500px);
    }
}

.cloud2 {
    position: absolute;
    top: 100px;
    right: -100px;
    background: center / contain no-repeat url("img/cloud.png");
    width: 120px;
    height: 120px;
    z-index: 4;
    animation: floating 70s infinite linear;
}

.cloud3 {
    position: absolute;
    top: 75px;
    right: -450px;
    background: center / contain no-repeat url("img/cloud.png");
    width: 120px;
    height: 120px;
    z-index: 4;
    animation: floating 65s infinite linear;
}

/* .ground {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: green;
    bottom: 0;

} */

.superDog {
    width: 256px;
    height: 160px;
    position: absolute;
    top: 630px;
    left: 0px;
    background: center / contain no-repeat url("img/superdog2.png");
    z-index: 4;
    transform: scaleX(-1);
}

.falling-cat {
    background: center / contain no-repeat url("img/cat.png");
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    opacity: 1;
    transition: opacity 2s linear;
}

.falling-cat.dead-cat {
    background: center / contain no-repeat url("img/dead-cat.png")
}

.falling-cat.rescued-cat {
    background: center / contain no-repeat url("img/rescued-cat.png")
}

@keyframes falling {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0px);
    }
}