* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-size: 1400px;
    --gutter: 1rem;
    --font-mid-title: 25px;
    --font-title: 35px;
}

/*smooth scroll*/

html {
    scroll-behavior: smooth;
  }

.cont {
    background: rgb(255, 219, 173);
    height: 250px;
    max-width: var(--max-size);
    margin: 0 auto;
}

.cont-two {
    background: white;
    height: 800px;
    max-width: var(--max-size);
    margin: 0 auto;
}

.break-container {
    max-width: var(--max-size);
    height: 150px;
    background-color: rgba(255, 255, 255, 0.548);
    margin: 0 auto;
    background-image: url(images/walk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .break-container {
        background-size: 150%;
    }
}

/* .break-container__title {
    font-size: var(--font-title);
    color: rgb(175, 53, 49);
    font-family: 'Proza Libre', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: var(--gutter);
    margin: var(--gutter);
    text-transform: uppercase;
} */

.functions {
    max-width: var(--max-size);
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.functions__container {
    display: flex;
    margin: calc(var(--gutter) * 2);
    flex-wrap: wrap;
    justify-content: center;
}

.functions-content {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: var(--gutter);
    align-items: center;
    color: #353D45;
    transition: all;
}

.slidedown {
    animation: slidedown 800ms ease-in;
}

.hidden {
    opacity: 0;
}

@keyframes slidedown {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.functions-content__image{
    max-width: 150px;
}

.functions-content__image img{
    width: 100%;
}

.functions-text__title {
    font-size: var(--font-mid-title);
    text-align: center;
    margin: var(--gutter) 0;
    font-family: 'Proza Libre', sans-serif;
}


.functions-text__description {
    text-align: justify;
    padding: var(--gutter) 0;
    font-family: 'Open Sans', sans-serif;
}