/**navigation toolbar**/

.site-header .container{
    background: forestgreen;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header:after{
    content: "";
    position: absolute;      
    display: block;
  
    height: 10px;
    bottom: -10px; /* -height */
    left:0;
    right:0;
  
    /* TODO Add browser prefixes */
    background:
      linear-gradient(
        45deg, transparent 33.333%,
        #2B3A48 33.333%, #2B3A48 66.667%,
        transparent 66.667%
      ),linear-gradient(
        -45deg, transparent 33.333%,
        #2B3A48 33.333%, #2B3A48 66.667%,
        transparent 66.667%
      );
  
      background-size: 8px 20px; /* toothSize doubleHeight */
      background-position: 0 -10px; /* horizontalOffset -height */
}

.site-header .main-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.site-header .main-menu-item a {
    color: #262626;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    transition: border-top-color 0.2s;
    margin-right: 35px;
    font-size: 16px;
}

.site-header .main-menu-item a:hover{
    border-color: red;
    transform: rotate(360deg);
}

.site-header .main-menu-item.active a {
    border-top-color: red;
}

.site-header .main-menu-item.active a:hover {
    border-top-color: red;
}

