

html, body {
   
    height: 80%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
    font-family: 'arial', serif;;
   --max-size: 1500px;
   --gutter: 1rem;
   --font-mid-size-title: 25px;
   --font-size-title: 35px;
   --font-title: 'Proza Libre', sans-serif;
   --font-text: 'Raleway', sans-serif;
   --color-light-grey: #F5F3F2;
   --color-light-red: #FDDFDE;
   --color-red: #F66465;
   --color-dark-red: #AB3B3D;
   --color-dark-grey: #56555C;
   --color-grey: #DFDEDC;
}
/*smooth scroll*/

html {
   scroll-behavior: smooth;
}

.navigation {
    position: relative;
    width: 100%;
    background-color: white;
   
}



.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: white;
     
    
}

.heroImage {
    height: 100%;
    width: 100%;
    background-image: url(doggy5.jpg);
    background-size: cover;
    margin-bottom: var(--gutter);
    background-repeat: no-repeat;
background-position: center;
    position: relative;
    display: block;
  
   
}

.content {
    width: 100%;
    padding: var(--gutter);
    padding: 3rem;
    margin-bottom: 40px;
   
   
}

.content__header {
    color: var(--color-dark);
    margin: 0 0 var(--gutter);
    font-size: 2.6rem;
    font-family: var(--font-header);
    
    text-align: center;
   
}

.content__description {
    color: darkgrey;
    font-size: 1.2rem;
    font-family: var(--font-body);
    margin-bottom: calc( var(--gutter) * 2);
    
   
}
.content__description-title {
  
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
    margin-bottom: calc( var(--gutter) * 2);
   color: black;
text-align: center;
    
    font-style: italic;
    color:  #56555C;
   

}
@media (min-width: 300px) {
    .heroImage {
        width: 100%;
        height: 30vh;
        margin: 0;
        background-image: cover;
        
    }
@media (min-width: 768px) {
    .heroImage {
        width: 90%;
        height: 70vh;
        margin: 0;
        background-image: cover;
        
    }
@media (min-width: 1024px) {
    .heroImage {
        width: 50%;
        height: 70vh;
        margin: 0;
        background-image: cover;
        
    }

    .content {
        width: 50%;
    }
}
.stars {
    text-align: center;
        color:black;
    background-color: white;
}
.paw{
   
     background-image: url(paw-small.png);
    background-size: cover;
    background-size: 2%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: var(--gutter);
    height: 4vh;
    background-position: center;
   
}
 .section-fresh-action {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    height: 55px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 290px;
    border: none;
    background:orange;
    color: white;
     border-radius: 10px;
    box-shadow: 0 20px 30px rgba(255, 96, 51, 0.3);
     margin-top: 30px;
    }